<a href="https://colab.research.google.com/github/lefe08/Python/blob/main/Copia_de_metodos_de_los_objetos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# METODOS DE LOS OBJETOS

## CADENAS

### count(value) Devuelve el número de veces que se encuentra la busqueda en la cadena. Los parámetros opcionales start y end definen una subcadena en la que buscar.

In [ ]:
  s = "Hola mundo"
  s.count("r")

0

### find(sub) Devuelve la posición en la que se encontró por primera vez sub en la cadena o -1 si no se encontró.

In [ ]:
cadenaDeTexto = "Es peor cometer una injusticia que padecerla porque quien la comete se convierte en injusto y quien la padece no."
cadenaDeTexto.find('quien')

52

### join(secuence) Devuelve una cadena resultante de concatenar las cadenas de la secuencia separadas por la cadena sobre la que se llama el método.

In [ ]:
list1 = ['1','2','3','4']  
s = "/"
s = s.join(list1) 
print(s)

1/2/3/4

### partition(sep) Busca el separador (sep) en la cadena y devuelve una tupla con la subcadena hasta dicho separador, el separador en si, y la subcadena del separador hasta el final de la cadena. Si no se encuentra el separador, la tupla contendrá la cadena en si y dos cadenas vacías.

In [ ]:
nombre = "Juan Gónzalez Pérez"
nombre.partition("Juan")

('', 'Juan', ' Gónzalez Pérez')

### replace(old) Devuelve una cadena en la que se han reemplazado todas las ocurrencias de la cadena old por la cadena new. Si se especifica el parámetro count, este indica el número máximo de ocurrencias a reemplazar.

In [ ]:
buscar = "nombre "
reemplazar_nombre = "Juan Pérez" 
print("Estimado Sr. nombre :".replace(buscar, reemplazar_por) )

Estimado Sr. Juan Pérez:

In [ ]:
 print("si puedes cambiar un dato si le especificas si hay limite :".replace("si", "no",10) )

no puedes cambiar un dato no le especificas no hay limite :

### split() Devuelve una lista conteniendo las subcadenas en las que se divide nuestra cadena al dividirlas por el delimitador sep. En el caso de que no se especifique sep, se usan espacios. Si se especifica maxsplit, este indica el número máximo de particiones a realizar.

In [ ]:
cadena = 'Hola compañeros del taller'
cadena.split()

['Hola', 'compañeros', 'del', 'taller']

In [ ]:
cadena = "80Edad:1Edad:20Edad:12Edad:44"
separador = "Edad:"
cadena.split(separador)

['80', '1', '20', '12', '44']

In [ ]:
cadena = "Hola mundo estamos explicando el funcionamiento de split en Python"
separador = " "
cadena.split(separador, 4)

['Hola',
 'mundo',
 'estamos',
 'explicando',
 'el funcionamiento de split en Python']

## LISTAS

### append(objet) Añade un objeto al final de la lista. El objeto puede ser cualquier tipo de dato en Python, como un objeto de lista, de diccionario o de clase.

In [ ]:
notas_musicales = ["Do", "Re", "Mi", "Fa", "Sol", "La" "Si","Do"]
notas_musicales.append("Si")
print(notas_musicales)

['Do', 'Re', 'Mi', 'Fa', 'Sol', 'LaSi', 'Do', 'Si']

### count(value) Devuelve el número de veces que se encontró un dato en la lista.

In [ ]:
aList = [123, 'xyz', 'zara', 'abc', 123]

print("Veces que esta 123 en la lista : ", aList.count(123))
print("Veces que esta zara en la lista : ", aList.count('zara'))

Veces que esta 123 en la lista :  2
Veces que esta zara en la lista :  1

### extend(iterable) Añade los elementos del iterable a la lista.

In [ ]:
notas_musicales = ["Do", "Re", "Mi", "Fa", "Sol", "La"]
notas_musicales.extend("Si")
print(notas_musicales)

['Do', 'Re', 'Mi', 'Fa', 'Sol', 'La', 'S', 'i']

In [ ]:
lst = []
word = 'Sample'
lst.extend(word)
print(lst)

diferencia con append

In [ ]:
A = [1, 2]
A.extend([3, 4])
print(A)

[1, 2, 3, 4]

In [ ]:
A = [1, 2]
A.append([3, 4])
print(A)

[1, 2, [3, 4]]

### index(value) Devuelve la posición en la que se encontró la primera ocurrencia de value. Si se especifican, start y stop definen las posiciones de inicio y fin de una sublista en la que buscar.

In [ ]:
 versiones = [2.1, 2.5, 3.6, 4, 5, 6, 4]
 print(versiones.index(4))

3

### insert(index,objeto) Inserta el objeto object en una posición determinada.

In [ ]:
nombres = ["Alvaro", "Jacinto", "Miguel", "Edgardo", "David"] 
nombres.insert(0, "Ricardo") 
print(nombres)

['Ricardo', 'Alvaro', 'Jacinto', 'Miguel', 'Edgardo', 'David']

### pop(index) Devuelve el valor en la posición index y lo elimina de la lista. Si no se especifica la posición, se utiliza el último elemento de la lista.

In [ ]:
ciudades = ['New York', 'Dallas', 'San Antonio', 'Houston', 'San Francisco']

print ( "Ciudad removida : ", ciudades.pop() )
print ( "La ciudad en el indice 2 es : ", ciudades.pop(2) )

Ciudad removida :  San Francisco
La ciudad en el indice 2 es :  San Antonio

In [ ]:
ciudades = ['New York', 'Dallas', 'San Antonio', 'Houston', 'San Francisco']

print ( "Ciudad removida : ", ciudades.pop() )
print ( "La ciudad en el indice 2 es : ", ciudades.pop(2) )
print (ciudades)

Ciudad removida :  San Francisco
La ciudad en el indice 2 es :  San Antonio
['New York', 'Dallas', 'Houston']

### remove(value) Eliminar la primera ocurrencia de value en la lista, elimina el primer elemento de la lista, cuyo valor es igual al del argumento pasado. Cuando se utiliza este método, normalmente no se sabe o no le importa cuál es el índice del elemento que se va a eliminar.

In [ ]:
names = ['Bob', 'Cindy', 'Noah']
names.remove('Cindy')
print(names)

['Bob', 'Noah']

In [ ]:
names = ['Bob', 'Cindy', 'Noah']
names.remove('Bob')
print(names)

['Cindy', 'Noah']

### reverse() Invierte la lista. Esta función trabaja sobre la propia lista desde la que se invoca el método, no sobre una copia.

In [ ]:
list=["cat","dog","bird","insects"]
list.reverse()
print(list)

['insects', 'bird', 'dog', 'cat']

### sort() Ordena la lista.

In [ ]:
mi_lista = [67, 2, 999, 1, 15]
mi_lista.sort()
print(mi_lista)

[1, 2, 15, 67, 999]

In [ ]:
mi_lista = [67, 2, 999, 1, 15]
mi_lista.sort()
mi_lista.reverse()
print(mi_lista)

[999, 67, 15, 2, 1]

# DICCIONARIOS


### get() Busca el valor de la clave k en el diccionario. Es equivalente a utilizar D[k] pero al utilizar este método podemos indicar un valor a devolver por defecto si no se encuentra la clave, mientras que con la sintaxis D[k], de no existir la clave se lanzaría una excepción.

In [ ]:
dic = {"A":1, "B":2} 
print(dic.get("A")) 
print(dic.get("B"))

1
2

### items() Devuelve una lista de tuplas con pares clave-valor. D.keys() Devuelve una lista de las claves del diccionario.

In [ ]:
colores = { "amarillo":"yellow", "azul":"blue", "verde":"green" }
colores.items()

dict_items([('amarillo', 'yellow'), ('azul', 'blue'), ('verde', 'green')])

In [ ]:
colores = { "amarillo":"yellow", "azul":"blue", "verde":"green" }
colores.items()

### pop() Borra la clave k del diccionario y devuelve su valor. Si no se encuentra dicha clave se devuelve d si se especificó el parámetro o bien se lanza una excepción.D.values() Devuelve una lista de los valores del diccionario.

In [ ]:
colores = { "amarillo":"yellow", "azul":"blue", "verde":"green" }
colores.pop("amarillo")
print(colores)

{'azul': 'blue', 'verde': 'green'}

In [ ]:
colores = { "amarillo":"yellow", "azul":"blue", "verde":"green" }
colores.pop("azul")
print(colores)

{'amarillo': 'yellow', 'verde': 'green'}